{% if product.metafields.custom.where_to_buy != blank %}
  {{ 'bd-where-to-buy.css' | asset_url | stylesheet_tag }}
  <section
    id="WhereToBuy-{{ section.id }}"
    class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
    data-section="{{ section.id }}"
  >
    <div class="page-width where-to-buy-container">
      <div class="where-to-buy-header {{ section.settings.content_alignment }}">
        <h2>{{ section.settings.title }}</h2>
      </div>
      <div class="where-to-buy-logos">
        {% for where_to_buy in product.metafields.custom.where_to_buy.value %}
          <div class="where-to-buy-item">
            <a href="{{ where_to_buy.external_link_to_product }}">
              {{-
                where_to_buy.store_logo
                | image_url: width: 200, height: null
                | image_tag: widths: '150, 200', class: 'wtb-mobile'
              -}}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Where to Buy",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Headline"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-5"
    }
  ]
}
{% endschema %}
